*
.metadata/*
RemoteSystemsTempFiles/*
vmsgr/*

!*/

!*.c
!*.h
!.project
!.cproject
!*.cfg
cjtest/
bin_arm/
bin_arm_test/
updatetool/*
updatetool/*/*
*/CMakeFiles/

include/version.h
libTransmit/.project
