!*.c
!*/*.c
!*/*/*.c
!*/*/*/*.c
!*.h
!*/*.h
!*/*/*.h
!*/*/*/*.h

*.o
*.map
*.map.*
*.lst
*.d
*.d.*
*.so
*.bin
*~
*.o.lst*
makefile.*
*.mk.*
*.svn/
kernel/
bin_arm/
bin_arm_cctt1/
bin_arm_cctt2/
bin_arm_sptf3/
bin_x86/
bin_x86_g++/
gwn/
remoteup/
RemoteSystemsTempFiles/
.metadata/
*/.settings/*
*/*/.settings/*
*/*.mk
*/*/*.mk
*/*/*/*.mk

*/Release/*
*/*/Release/*

arm_bin
